@model CategoriaViewModel
@{
    ViewData["Title"] = "Borrar Categoria";
}

<div class="row">
    <div class="col-md-8  offset-md-2 by-10" id="BorrarCategoria">
        <div class="row" id="TituloBorrarCategoria">
            <h3>¿Esta seguro que desea borrar la categoria @Model.Categoria?</h3>
        </div>

        <div class="row" id="FormularioBorrarCategoria">
            <form asp-action="BorrarCategoria">
                <input type="hidden" asp-for="Id" />
                <button class="btn" type="submit" id="BotonBorrarCategoria">Borrar</button>
                <a class="btn" asp-action="Index" id="BotonCancelarCategoria">Cancelar</a>
            </form>
        </div>
    </div>
</div>
